POSTGRES_DB=portal_b2b
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

PGADMIN_DEFAULT_EMAIL=admin@portalb2b.com
PGADMIN_DEFAULT_PASSWORD=admin

KAFKA_BOOTSTRAP_SERVERS=localhost:9092

GATEWAY_PORT=80
PGADMIN_PORT=5050
KAFKA_UI_PORT=8080
POSTGRES_PORT=5432
REDPANDA_PORT=9092

# Exemplo produtos-service
PRODUTOS_DATABASE_URL=postgresql://svc_produtos:senha_produtos@localhost:5432/portal_b2b
PRODUTOS_DB_SCHEMA=schema_produtos
PRODUTOS_KAFKA_BOOTSTRAP_SERVERS=localhost:9092
PRODUTOS_PORT=5002

# Exemplo demanda-service
DEMANDA_DATABASE_URL=postgresql://svc_demanda:senha_demanda@localhost:5432/portal_b2b
DEMANDA_DB_SCHEMA=schema_demanda
DEMANDA_KAFKA_BOOTSTRAP_SERVERS=localhost:9092
DEMANDA_PORT=5004
