POSTGRES_DB=portal_b2b
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

PGADMIN_DEFAULT_EMAIL=admin@portalb2b.com
PGADMIN_DEFAULT_PASSWORD=admin

KAFKA_BOOTSTRAP_SERVERS=localhost:9092

GATEWAY_PORT=80
PGADMIN_PORT=5050
KAFKA_UI_PORT=8080
POSTGRES_PORT=5432
REDPANDA_PORT=9092
REDPANDA_EXTERNAL_HOST=localhost

# Equipe Usuários
USUARIOS_DATABASE_URL=postgresql://svc_usuarios:senha_usuarios@localhost:5432/portal_b2b
USUARIOS_DB_SCHEMA=schema_usuarios
USUARIOS_PORT=5001

# Equipe Produtos
PRODUTOS_DATABASE_URL=postgresql://svc_produtos:senha_produtos@localhost:5432/portal_b2b
PRODUTOS_DB_SCHEMA=schema_produtos
PRODUTOS_PORT=5002

# Equipe Fornecimentos
FORNECIMENTOS_DATABASE_URL=postgresql://svc_fornecimentos:senha_fornecimentos@localhost:5432/portal_b2b
FORNECIMENTOS_DB_SCHEMA=schema_fornecimentos
FORNECIMENTOS_PORT=5003

# Equipe Demanda
DEMANDA_DATABASE_URL=postgresql://svc_demanda:senha_demanda@localhost:5432/portal_b2b
DEMANDA_DB_SCHEMA=schema_demanda
DEMANDA_PORT=5004

# Equipe Mercado
MERCADO_DATABASE_URL=postgresql://svc_mercado:senha_mercado@localhost:5432/portal_b2b
MERCADO_DB_SCHEMA=schema_mercado
MERCADO_PORT=5005

# Equipe Negociação
NEGOCIACAO_DATABASE_URL=postgresql://svc_negociacao:senha_negociacao@localhost:5432/portal_b2b
NEGOCIACAO_DB_SCHEMA=schema_negociacao
NEGOCIACAO_PORT=5006

# Equipe Pedidos
PEDIDOS_DATABASE_URL=postgresql://svc_pedidos:senha_pedidos@localhost:5432/portal_b2b
PEDIDOS_DB_SCHEMA=schema_pedidos
PEDIDOS_PORT=5007

# Equipe Logística
LOGISTICA_DATABASE_URL=postgresql://svc_logistica:senha_logistica@localhost:5432/portal_b2b
LOGISTICA_DB_SCHEMA=schema_logistica
LOGISTICA_PORT=5008

# Equipe Transportadoras
TRANSPORTADORAS_DATABASE_URL=postgresql://svc_transportadoras:senha_transportadoras@localhost:5432/portal_b2b
TRANSPORTADORAS_DB_SCHEMA=schema_transportadoras
TRANSPORTADORAS_PORT=5009
