# Docker e arquivos locais
.env
*.log
docker-compose.override.yml

# IDEs e Editores
.vscode/
.idea/
*.swp
*.swo

# SO
.DS_Store
Thumbs.db

# Backups
backups/

# Chaves SSH
*.pem
*.key
id_rsa
id_ed25519
portal_b2b_standby
portal_b2b_standby.pub
