# Configuração do broker Redpanda na VM standby (broker 1)
# VM: portal-b2b-vm-standby | IP interno: 10.128.0.3

REDPANDA_NODE_ID=1
REDPANDA_ADVERTISE_IP=10.128.0.3
REDPANDA_BROKER_1=10.128.0.2
REDPANDA_BROKER_2=10.128.0.3
REDPANDA_BROKER_3=10.128.0.4
REDPANDA_KAFKA_PORT=9092
REDPANDA_RPC_PORT=33145
REDPANDA_ADMIN_PORT=9644
